
{% extends "base.html" %}     
{% block content %}  <br><br><br><br><br>

{% include "search.html"%}<br><br>
<section class="development-area" id="develop">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title text-center">
            <h2><b>.....COURSES.....</b></h2>
          </div>
        </div>
      </div><br><br>
      <div class="row">
        {% for n in courseData %}
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="development-wrap text-center">
            <div class="development-icon">
              <i class="{{n.course_icon}}fa fa-connectdevelop"></i>
            </div>
            <h3>{{n.course_title}}</h3>
            <p>{{n.course_desc}}</p>
            <h1><a href="{{n.course_tutorial_link}}">Tutorial</a></h1>
            <h1><a href="{{n.course_video_link}}">Video</a></h1>
          </div>
        </div>
        {% endfor %}
         
      </div>
    </div>
    </section><br><br><br><br><br>
   <!-------development end--->


   {% endblock %}   
