
{% extends "base.html" %}     
{% block content %}  <br><br><br><br><br>

{% include "search.html"%}<br><br>
<section class="development-area" id="develop">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title text-center">
            <h2><b>.....COURSES.....</b></h2>
          </div>
        </div>
      </div><br><br>
      <div class="row">
        {% for n in courseData %}
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="development-wrap text-center">
            <div class="development-icon">
              <i class="{{n.course_icon}}fa fa-connectdevelop"></i>
            </div>
            <h3>{{n.course_title}}</h3>
            <p>{{n.course_desc}}</p>
            <h1><a href="{{n.course_tutorial_link}}">Tutorial</a></h1>
            <h1><a href="{{n.course_video_link}}">Video</a></h1>
          </div>
        </div>
        {% endfor %}
         <!-- <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="development-wrap text-center">
            <div class="development-icon">
              <i class="fa fa-modx"></i>
            </div>
            <h3>Software Mobility</h3>
            <p>Teams build Interactive Mobile Apps that are compatible with technologies like AR/VR, AI, IoT, Xamarin, Flutter, React Native, etc. </p>
            <h1><a href="https://en.wikipedia.org/wiki/Software_development">See More..</a></h1>
          </div>
        </div>

         <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="development-wrap text-center">
            <div class="development-icon">
              <i class="fa fa-tablet"></i>
            </div>
            <h3>Mobile App Development</h3>
            <p>We have an IT sevices expertise in web and mobile app development. Outsource dedicated software development teams your projects. </p>
            <h1><a href="https://www.android.com/">See More..</a></h1>
          </div>
        </div>
       <br>
       <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="development-wrap text-center">
            <div class="development-icon">
              <i class="fa fa-maxcdn"></i>
            </div>
            <h3> Machine Learning & AI</h3>
            <p>Build your next Artificial Intelligence Application with our software development teams having expertise on platforms like Tensorflow, GoLang, etc. </p>
            <h1><a href="https://www.machinelearningisfun.com/">See More..</a></h1>
          </div>
        </div>

         <div class="col-md-4 col-sm-6 col-xs-12">
           <div class="development-wrap text-center">
            <div class="development-icon">
             <i class="fa fa-chain"></i>
            </div>
            <h3> Block  chain Application</h3>
            <p>Our Software Development Teams build blockchain applications like crypto wallets, dApps using Hyperledger, Solidity and Ethereum as platforms. </p>
            <h1><a href="https://www.blockchain.com/">See More..</a></h1>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="development-wrap text-center">
            <div class="development-icon">
              <i class="fa fa-stack-overflow"></i>
            </div>
            <h3>Full Stack Development</h3>
            <p>Accelerate your development process with our expert Devlopers  to automate your business methodology. We ensure smoother delivery for operation cycles. </p>
            <h1><a href="https://www.fullstack.com/">See More..</a></h1>
          </div>
        </div>   -->
      </div>
    </div>
    </section><br><br><br><br><br>
   <!-------development end--->


   {% endblock %}   