{% extends "base.html" %}     
{% block content %} <br><br><br><br><br>

{% include "search.html"%}<br><br>

        <section class="language text-center" id="language">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="section-title text-center">
                  <h2><b>.....LANGUAGES.....</b></h2>
                </div>
              </div>
            </div><br><br>
            <div class="row">
              {% for n in languageData %}
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>{{n.language_title}}</h3>
                  <p> {{n.language_desc}}</p>
                  <h1><a href="{{n.language_tutorial_link}}">Tutorial..</a></h1>
                  <h2><a href="{{n.language_video_link}}">See Video..</a></h2>
                </div>
              </div>
              {% endfor %}
               
            </div>
          </div>
        </section><br><br><br><br><br>


{% endblock %}   
