{% extends "base.html" %}     
{% block content %} <br><br><br><br><br>

{% include "search.html"%}<br><br>

        <section class="language text-center" id="language">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="section-title text-center">
                  <h2><b>.....LANGUAGES.....</b></h2>
                </div>
              </div>
            </div><br><br>
            <div class="row">
              {% for n in languageData %}
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>{{n.language_title}}</h3>
                  <p> {{n.language_desc}}</p>
                  <h1><a href="{{n.language_tutorial_link}}">Tutorial..</a></h1>
                  <h2><a href="{{n.language_video_link}}">See Video..</a></h2>
                </div>
              </div>
              {% endfor %}
               <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>C++</h3>
                  <p>C++ programming language is a formal language. C++ Programming languages are used in computer programming to implement algorithms.  </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>C#</h3>
                  <p>C# programming language is a formal language. C# Programming languages are used in computer programming to implement algorithms.  </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>JAVA.</h3>
                  <p>Java programming language is a formal language. Java Programming languages are used in computer programming to implement algorithms. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>JAVA Script.</h3>
                  <p>Java Script programming language is a formal language. Java Script Programming languages are used in computer programming to implement algorithms. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="language-wrap text-center">
                  <h3>PYTHON.</h3>
                  <p>Python programming language is a formal language. Python Programming languages are used in computer programming to implement algorithms. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>SQL.</h3>
                  <p>SQL programming language is a formal language. SQL Programming languages are used in computer programming to implement algorithms. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>Visual Basic.NET</h3>
                  <p>.NET programming language is a formal language. .NET Programming languages are used in computer programming to implement algorithms. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>RUBY.</h3>
                  <p>Ruby programming language is a formal language. Ruby Programming languages are used in computer programming to implement algorithms. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>HTML.</h3>
                  <p>HTML is language we structure our content in on the World Wide Web; one of the main components of the Open Web Platform, and it's easy to use. </p>
                    <h1><a href="">Tutorial..</a></h1>
                   <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>CSS.</h3>
                  <p>Cascading Style Sheets(CSS) is a style sheet language used for describing the presentation of a document written in a markup language, and it's easy to use. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>XML.</h3>
                  <p>XML is a markup language that defines a set of rules for encoding documents in a format that is both human-readable and machine-readable. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>PHP.</h3>
                  <p>PHP is a server side scripting language. that is used to develop Static websites or Dynamic websites. PHP stands for Hypertext Pre-processor. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3>Kotlin.</h3>
                  <p>Kotlin is a cross-platform programming language that may be used as an alternative to Java for Android App Development. </p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div> 
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="language-wrap text-center">
                  <h3> Rust.</h3>
                  <p>Rust is a multi-paradigm programming language focused on performance and safety, especially safe concurrency. Rust is syntactically similar to C++.</p>
                   <h1><a href="">Tutorial..</a></h1>
                  <h2><a href="">See Video..</a></h2>
                </div>
              </div>   -->
            </div>
          </div>
        </section><br><br><br><br><br>


{% endblock %}   