

  <form class="example" method="get" >
    <div class="col-xs-12">
        <div class="section-title text-center">
            <input type="text" placeholder="  Search.." name="search">
            <button type="submit" <i class="fa fa-search"></i></button>
          </div>
    </div>
  </form>

  <style> 
  
  /* Style the search field */
  form.example input[type=text] {
    font-size: 17px;
    color: white;
    border: 1px solid snow;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    width: 50%;
    background: none;
    text-align: center;
    margin-left: 45px;
  }
  
  /* Style the submit button */
  form.example button {
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border-radius: 10px;
   
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
      
</style>